<mat-card>
  <mat-card-content>

    <form [formGroup]="form" class="signIn__form" (submit)="submitSignUp($event)">

      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput formControlName="username">
        <mat-error>{{ form.get('name') | errorMessage }}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" #passwordInput type="password">
        <button
          matSuffix
          mat-icon-button
          (click)="passwordInput.type === 'password' ? passwordInput.type = 'text' : passwordInput.type = 'password'"
        >
          <mat-icon *ngIf="passwordInput.type === 'password'">visibility_on</mat-icon>
          <mat-icon *ngIf="passwordInput.type === 'text'">visibility_off</mat-icon>
        </button>
        <mat-error>{{ form.get('name') | errorMessage }}</mat-error>
      </mat-form-field>

      <button mat-raised-button type="submit" [disabled]="form.invalid" color="accent">
        Sign in
      </button>

      <a routerLink="/sign-up">
        I don't have an account. Sign up!
      </a>
    </form>

  </mat-card-content>
</mat-card>

